.main-container {
	height: 100%;
	width: 900px;
	margin: 0 auto;
}

.board {
	height: 420px;
	width: 420px;
	margin: 0 auto;
}

.cell {
	width: 140px;
	height: 140px;
	border: 2px dashed lightskyblue;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
	float:left;
	line-height: 140px;
	text-align: center;
	font-family: "Arial Narrow";
	font-weight: bold;
	font-size: 70px;
}

.control {
	font-family: "Arial Narrow";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-top:40px;
}

.players {}

.player {
	width: 50%;
	float: left;
}

.player label {
	font-size: 18px;
	font-weight: normal;
}

.player-types {
	
}

.player-turn {
	font-size: 18px;
	color: green;
	display: none;
}

.level {
	margin: 0 15px;
	color: lightskyblue;
	cursor: pointer;
}

.not-selected {
	opacity: 0.5;
}

.not-selected:hover {
	opacity:1;
}

#start {
	margin-top: -95px;
	margin-left: 45%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	font-size: 50px;
	line-height: 100px;
	text-align: center;
	background: #87cefa;
	color: #fff;
	float: left;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

/*#start {
	margin-top: -95px;
	width: 100px;
	height: 100px;
	background-color: #87CEFA;
	line-height: 100px;
	text-align: center;
	border-radius: 50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	opacity:0.5;
}*/

.start:hover {
	opacity:1;
}

.ingame {
	display:none;
	color:lightskyblue;
}

.ingame > p {
	margin:0px;
}

.robot {
	opacity:0.5;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
