body {
	padding: 0;
	margin: 0;
}

.main-container {
	height: 100%;
	width: 750px;
	margin: 0 auto;
}

.board {
	height: 750px;
	width: 750px;
	margin: 0;
}

.cell {
	width: 250px;
	height: 250px;
	border: 5px solid black;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
	float:left;
	line-height: 240px;
	text-align: center;
	font-family: "Arial";
	font-weight: bold;
	font-size: 180px;
}

.control {
	width: 750px;
	height: 500px;
	padding-top: 250px;
	position: absolute;
	top: 0;
	left: auto;
	right: auto;
	z-index: 10;
	font-family: "Arial";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: white;
	background: rgba(0,0,0, 0.80);
	display: none;
}

.control i {
	cursor: pointer;
}

#start {
	display: block;
}

#start .button {
	background: gray;
	font-size: 25px;
	width: 25%;
	margin: 20px auto;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

#start .button:hover {
	background: white;
	color: black;
}

#win p {
	color: green;
	font-size: 60px;
}

#draw p {
	color: #00befc;
	font-size: 60px;
}

.player {
	width: 50%;
	float: left;
}

.player label {
	font-size: 18px;
	font-weight: normal;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
